<mat-toolbar class="app-header">
    <div class="app-header-content">
        <a [routerLink]="['/']" class="app-header-logo-link">
            <img alt="home" src="../assets/images/posts76-icon.png" class="app-header-logo" />
        </a>
        <span>
            {{ title }}
        </span>
        <span class="flex-empty-space">

        </span>
        <div class="button-group">
            <a *ngIf="export && posts.length > 0" mat-stroked-button  title="Download Posts as JSON file" [href]="downloadJsonHref" download="posts.json" color="primary">
                EXPORT TO JSON
            </a>
            <button *ngIf="export && posts.length == 0" mat-stroked-button color="primary" [disabled]="true">
                EXPORT TO JSON
            </button>
            <a *ngIf="authenticated && addPost" mat-stroked-button [routerLink]="['/', 'edit-post', 'new']" color="primary">
                ADD POST
            </a>
            <button *ngIf="!authenticated" mat-stroked-button (click)="openLoginDialog()" color="primary">
                LOGIN
            </button>
            <button *ngIf="authenticated" mat-stroked-button (click)="onLogout()" color="primary">
                LOGOUT
            </button>
        </div>
    </div>
</mat-toolbar>
<div class="app-content">
    <div class="app-container">
        <router-outlet></router-outlet>
    </div>
</div>
